{% extends 'base.html' %}
{% block content %}


<div class="container fluid">
    <hr>
    <div class="row" id="one pb-3">
        <div class="col-md">
            <div class="card-logo fw-light" id="logo">
                <img src="../static/img/FEA.png" width="200" height="140" alt="Logo FEA.dev">
            </div>
        </div>
        <div class="col-md-8">
            <h2 class="one">Quem Somos?</h2>

            <p class="fw-light">Criada em 2019, somos a primeira entidade estudantil da FEA-USP que tem como objetivo
                unir o
                mundo dos negócios com o universo da programação. Com o lema "Aprender para ensinar, ensinar para
                aprender",
                buscamos conectar estudantes e grandes instituições para solucionar as deficiências do sistema
                educacional.</p>
            <h6>
                Unindo o mundo dos negócios e o universo da programação.
            </h6>
        </div>
    </div>
</div>
</div>
<hr>



<div class="row">
    <div>
        <h2 class="two">Porque fazemos o que fazemos?</h2>
    </div>
    <div class="col-md-3">
        <div class="card-body fw-light">
            <p class="fw-light">Profissional:</p>
            <p class="fw-light"></p>Buscamos preparar os nossos membros para o mercado
            de trabalho, formando melhores profissionais.
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card-body fw-light">
            <p class="fw-light">Pessoal:</p>
            <p class="fw-light"></p>Gostamos do que fazemos! Nossos membros não estudam
            somente pela qualificação, mas também pelo
            conhecimento.</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card-body fw-light">
            <p class="fw-light">Social: </p>
            <p class="fw-light"></p>Acreditamos na importância de disseminar
            conhecimento, por isso criamos uma série de projetos
            para a comunidade.

            </p>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>






<div class="container">
    <h2 class="two" id="relatos">Relatos</h2>
    <div class="micro-slider">
        <div class="slider-item s1">
            <div class="carrossel">
                <img src="../static/img/avatar1.png" alt="">
                <div class="card-body fw-light">
                    <h6>Chun-Li</h6>
                    <p class="fw-light">O que é o Lorem Ipsum?
                        O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão.
                        O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500,
                    </p>
                    <div class="social-links">
                        <a target="_blank" href="https://www.linkedin.com/">
                            <i class="bi bi-linkedin"></i>
                        </a>
                        <a target="_blank" href="https://github.com/">
                            <i class="bi bi-github"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item s2">
            <div class="carrossel">
                <img src="../static/img/avatar1.png" alt="">
                <div class="card-body fw-light">
                    <h6>Chun-Li</h6>
                    <p class="fw-light">O que é o Lorem Ipsum?
                        O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão.
                        O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500,
                    </p>
                    <div class="social-links">
                        <a target="_blank" href="https://www.linkedin.com/">
                            <i class="bi bi-linkedin"></i>
                        </a>
                        <a target="_blank" href="https://github.com/">
                            <i class="bi bi-github"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item s3">
            <div class="carrossel">
                <img src="../static/img/avatar1.png" alt="">
                <div class="card-body fw-light">
                    <h6>Chun-Li</h6>
                    <p class="fw-light">O que é o Lorem Ipsum?
                        O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão.
                        O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500,
                    </p>
                    <div class="social-links">
                        <a target="_blank" href="https://www.linkedin.com/">
                            <i class="bi bi-linkedin"></i>
                        </a>
                        <a target="_blank" href="https://github.com/">
                            <i class="bi bi-github"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item s4">
            <div class="carrossel">
                <img src="../static/img/avatar1.png" alt="">
                <div class="card-body fw-light">
                    <h6>Chun-Li</h6>
                    <p class="fw-light">O que é o Lorem Ipsum?
                        O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão.
                        O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500,
                    </p>
                    <div class="social-links">
                        <a target="_blank" href="https://www.linkedin.com/">
                            <i class="bi bi-linkedin"></i>
                        </a>
                        <a target="_blank" href="https://github.com/">
                            <i class="bi bi-github"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item s5">
            <div class="carrossel">
                <img src="../static/img/avatar1.png" alt="">
                <div class="card-body fw-light">
                    <h6>Chun-Li</h6>
                    <p class="fw-light">O que é o Lorem Ipsum?
                        O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão.
                        O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500,
                    </p>
                    <div class="social-links">
                        <a target="_blank" href="https://www.linkedin.com/">
                            <i class="bi bi-linkedin"></i>
                        </a>
                        <a target="_blank" href="https://github.com/">
                            <i class="bi bi-github"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item s6">
            <div class="carrossel">
                <img src="../static/img/avatar1.png" alt="">
                <div class="card-body fw-light">
                    <h6>Chun-Li</h6>
                    <p class="fw-light">O que é o Lorem Ipsum?
                        O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão.
                        O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500,
                    </p>
                    <div class="social-links">
                        <a target="_blank" href="https://www.linkedin.com/">
                            <i class="bi bi-linkedin"></i>
                        </a>
                        <a target="_blank" href="https://github.com/">
                            <i class="bi bi-github"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <style>
            div .carrossel {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
            }

            .carrossel img {
                width: 40%;
                text-align: center;
                border-radius: 50%;
                padding: 0.5rem;
            }

            .fw-light {
                font-weight: lighter;
                text-align: center;
            }

            h6 {
                font-weight: bold;
                text-align: center;
                padding: 0.5rem;
            }

            .micro-slider {
                height: 480px;
                position: relative;
                width: 100%;

            }

            .micro-slider.fullwidth {
                height: 480px;
            }

            .micro-slider.fullwidth .slider-item {
                height: 480px;
                line-height: 480px;
                width: 100%
            }

            .slider-wrapper {
                overflow: hidden;
                position: relative;
                transform-style: preserve-3d;
                transform-origin: 0 50%;
            }

            .slider-item {
                background: #FFF;
                box-shadow: 0 1px 3px rgba(0, 0, 0, .06), 0 1px 2px rgba(0, 0, 0, .12);
                color: #FFF;
                display: none;
                height: 368px;
                left: 0;
                position: absolute;
                text-align: center;
                width: 320px;
                cursor: pointer;
                border-radius: 8px;
                border: 1px solid #E6E9EC;
            }

            p {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                align-items: center;
                margin: 0.5rem;
            }

            .indicators {
                bottom: 0px;
                left: 50%;
                list-style-type: none;
                margin: 0 0 0 -77px;
                padding: 0;
                position: absolute;
            }

            .indicators li {
                color: #fff;
                float: left;
                height: 16px;
                margin-right: 8px;
                text-align: center;
                width: 16px;
            }

            .indicators li:last-child {
                margin: 0;
            }

            .indicators a {
                background: #FFF;
                border-radius: 8px;
                border: 1px solid #E6E9EC;
                color: #FFF;
                display: inline-block;
                height: 16px;
                width: 16px;
            }

            .indicators .active a {
                background: #E6E9EC;
            }

            .s1 {
                background: #3f51b5;
            }

            .s2 {
                background: #030da0;
            }

            .s3 {
                background: #000000;
            }

            .s4 {
                background: #680468;
            }

            .s5 {
                background: #009688;
            }

            .s6 {
                background: #03a9f4;
            }
        </style>



        <script>

            document.addEventListener('DOMContentLoaded', () => {


                const __ms = document.querySelector('.micro-slider');
                const __msSlider = new MicroSlider(__ms, { indicators: true, indicatorText: '' });
                const hammer = new Hammer(__ms);
                const __msTimer = 2000;
                let __msAutoplay = setInterval(() => __msSlider.next(), __msTimer);


                __ms.onmouseenter = function (e) {
                    clearInterval(__msAutoplay);
                    console.log(e.type + ' mouse detected');
                }


                __ms.onmouseleave = function (e) {
                    clearInterval(__msAutoplay);
                    __msAutoplay = setInterval(() => __msSlider.next(), __msTimer);
                    console.log(e.type + ' mouse detected');
                }


                __ms.onclick = function (e) {
                    clearInterval(__msAutoplay);
                    console.log(e.type + ' mouse detected');
                }


                hammer.on('tap', function (e) {
                    clearInterval(__msAutoplay);
                    console.log(e.type + ' gesture detected');
                });

                hammer.on('swipe', function (e) {
                    clearInterval(__msAutoplay);
                    __msAutoplay = setInterval(() => __msSlider.next(), __msTimer);
                    console.log(e.type + ' gesture detected');
                });

                let __msIndicators = document.querySelectorAll('.indicators li');

            });

        </script>
    </div>


    <div class="container">

        <h2 class="two" id="trajetoria">O que fizemos até aqui?</h2>

        <div id="timeline">
            <ul id="dates">
                <li><a href="#2019">2019</a></li>
                <li><a href="#2020">2020</a></li>
                <li><a href="#2021">2021</a></li>
                <li><a href="#2022">2022</a></li>
                <li><a href="#2023">2023</a></li>

            </ul>
            <ul id="issues">
                <li id="2019">
                    <h1>2019</h1>
                    <h4>Surge o FEA.dev:</h4>
                    <p class="scrollable">O Fea.dev surgiu com 4 pessoas que tinham um desejo em comum de se aprofundar
                        em
                        programação, criar, inovar, se divertir e usar isso para seus respectivos cursos e trabalhos.
                        Quando
                        eles perceberam que existia uma demanda grande, reprimida, de programação, principalmente
                        relacionada a
                        dados na FEA, onde os professores nunca tinham ensinado os alunos e para os poucos cursos que
                        tinham
                        essa matéria de fato o aprendizado era pouco, o contexto de um grupo que poderia ajudar muitas
                        pessoas a
                        se capacitarem começou a surgir… O restante vocês já sabem.
                        Primeiro Curso de Python: Curso ministrado pelos idealizadores do Fea.dev, sonhadores, curiosos
                        e com
                        profunda paixão e conhecimento sobre tecnologia e dados. Pensando em sanar o defict de
                        conhecimento em
                        tecnologia que tinha na FEA, eles fizeram um curso de Python básico/intermediário presencial,
                        para todos
                        os interessados, tendo mais de 150 alunos.
                        Ingressa a segunda geração da entidade: Os 3 alunos que se destacaram e tinham o desejo claro de
                        participarem do grupo Fea.dev, foram chamados para fazer parte do mesmo, dividindo o grupo em
                        áreas
                        administrativas: presidência, vice-presidência, diretor de marketing, diretor de RH e diretor de
                        cursos
                        (que viria a se chamar projetos no futuro), transformando de fato o grupo, na entidade
                        estudantil
                        Fea.dev, como é conhecida hoje!</p>
                </li>

                <li id="2020">
                    <h1>2020</h1>
                    <h4>Biblioteca do Dev:</h4>
                    <p class="scrollable">Conforme a entidade crescia, sendo mais conhecida ainda na pandemia, pessoas
                        que
                        acompanhavam o Fea.dev e seus integrantes, frequentemente pediam indicações de livros, cursos,
                        vídeos,
                        artigos e materiais que ajudassem no aprendizado de programação. Compilamos tudo isso e fizemos
                        a
                        biblioteca do Fea.dev, disponível para quem quisesse no instagram do Dev.
                        Workshops: Eram Dev.ensina’s (Aulas dadas por gestaos da entidade, sobre um determinado assunto
                        em que
                        eles dominassem, para o restante da entidade, sendo relacionado a programação ou não, como
                        projetos
                        pessoais ou algo feito no dia a dia do trabalho deles ), porém, abertos para todo o público
                        Feano, e não
                        apenas aos gestaos da entidade.
                        Playlist de Quant: Compilado de vídeos de finanças e programação feito pelo nosso grupo interno
                        de
                        estudos de finanças quantitativas, indo desde a introdução de finanças ao Python à o cálculo de
                        Value at
                        Risk com a mesma linguagem.
                        Medium do Dev: Criação da conta oficial do Fea.dev na plataforma Medium, para postagens de
                        artigos
                        feitos pela entidade e seus gestaos.</p>
                </li>

                <li id="2021">
                    <h1>2021</h1>
                    <h4>Segundo curso de Python:</h4>
                    <p class="scrollable">Mesma funcionalidade do curso ministrado anteriormente em 2019, porém no
                        contexto de
                        pandemia e on-line, para o público Feano, também trazendo gestaos para entidade após o curso,
                        porém
                        dessa vez, fazendo um mini processo seletivo pós curso para a seleção.
                        Aulões de R para Feanos: Alunos dos cursos da FEA que tinham a linguagem de programação em R nos
                        pediram
                        ajuda para aprender essa linguagem, pois tinham dificuldade com os professores da FEA, então
                        atendendo a
                        demanda feana fizemos alguns aulões de R tanto para eles passarem na matéria com maior
                        tranquilidade,
                        quanto para aprenderem a linguagem de fato, dado que ela seria utilizada em outras matérias no
                        futuro.
                        Evento Her. dev: Uma série de entrevistas com grandes mulheres dos seus mercados de atuação que
                        utilizavam ou sabem a importância da tecnologia e programação no dia a dia do mercado
                        profissional,
                        desde mulheres presentes no mercado financeiro à saúde mental feminina, tecnologia e área
                        acadêmica.
                        Empreendi-sim e Fea.dev nas ETEC’s: Realizamos um projeto social em parceria com a entidade
                        Empreendi-sim, ensinando introdução a programação em Python para alunos da ETEC, e mostrando o
                        conceito
                        do empreendedorismo desde o ensino médio.</p>
                </li>

                <li id="2022">
                    <h1>2022</h1>
                    <h4>DEVTALKS:</h4>
                    <p class="scrollable">Foram eventos feitos com a Heart(a maior comunidade de developers do Brasil) e
                        com o
                        Banco Morgan Stanley(um dos maiores bancos do mundo), sendo um bate papo on-line com o fundador
                        da Heart
                        sobre tecnologia e uma palestra presencial com a área quantitativa do banco, mostrando como os
                        robôs que
                        os operam traidando ações do mercado automaticamente, e como saber programar poderia ajudar em
                        sua
                        carreira profissional no mercado financeiro.
                        DEV+: Foram eventos feitos com a Heart(a maior comunidade de developers do Brasil) e com o Banco
                        Morgan
                        Stanley(um dos maiores bancos do mundo), sendo um bate papo on-line com o fundador da Heart
                        sobre
                        tecnologia e uma palestra presencial com a área quantitativa do banco, mostrando como os robôs
                        que os
                        operam traidando ações do mercado automaticamente, e como saber programar poderia ajudar em sua
                        carreira
                        profissional no mercado financeiro.
                        Curso de Python 3.0: Esse curso em específico se difere dos demais, pois não foi ministrado
                        apenas para
                        a FEA, e sim para toda a USP, tendo mais de 1200 inscritos no curso, sendo realizado de forma
                        on-line.
                        Foi ensinando desde introdução a Python e lógica de programação, à bibliotecas como pandas e
                        numpy. Foi
                        feito um processo seletivo dando um case e uma entrevista para quem passasse de fase, tendo o
                        nosso
                        primeiro gestao da entidade que não é feano, sendo estudante da POLI.
                        Fea.dev no terraço cast: Fizemos uma participação no terraço cast, um grande podcast reconhecido
                        no
                        mundo das finanças, mostrando como a entidade introduz dados e tecnologia na maior faculdade de
                        finanças
                        da América Latina.</p>
                </li>

                <li id="2023">
                    <h1>2023</h1>
                    <h4>Hackathon interno - Análise de rede sociais: </h4>
                    <p class="scrollable">Tínhamos uma demanda interna a respeito de análises mais profundas sobre as
                        nossas
                        próprias redes sociais(instagram, YouTube e Twitter), queríamos fazer algo profissional, usando
                        programação para alavancar nossa produtividade, então por que não tornar isso mais divertido?
                        Dividimos
                        a entidade em dois grupos, colocamos os bixos como líderes desses grupos, e em apenas um final
                        de semana
                        fizemos o primeiro Hackathon interno que a entidade já fez, com direito a muita risada,
                        madrugadas a
                        fio, muitos desafios e é claro, muita programação. O resultado foi incrível e estamos nos
                        beneficiando
                        até hoje!!
                        Parcerias: Fechamos nossa primeira parceria monetizada da entidade, com uma Startup, graças a
                        essa
                        parceria hoje temos ferramentas mais sofisticadas para o crescimento da entidade, principalmente
                        a área
                        de marketing, ferramentas que antes não tínhamos acesso, pelo menos sem gastar uma quantia
                        considerável
                        de dinheiro.
                        Evento precursor: Realizamos nosso primeiro evento presencial realizado na FEA com uma das Big
                        Fours de
                        auditoria mundiais, a Ernst & Young, tendo como tema da palestra “Sem dados, quanto vale sua
                        opinião?”,
                        mostrando como que uma empresa desse nível, na prática, usa e abusa dos dados para alavancar
                        seus
                        ganhos, aumentar rendimento, dar consultoria tecnológica a outras empresas e por mim, tomar
                        decisões
                        mais assertivas pautadas em algo concreto, como os dados!
                        Visita a empresa: Visitamos a empresa do BTG, em um evento sobre a área de tecnologia do banco,
                        sendo
                        ministrada por alguns de seus sócios, contando sobre suas experiências, trajetórias e atividades
                        do dia
                        a dia que eles e o banco como um todo realiza.</p>
                </li>
        </div>
    </div>



    <script>
        $(function () {
            $().timelinr({
                arrowKeys: 'true'
            })
        });
    </script>
</div>




<div class="container">
    <h2 class="two" id="valores">Página Nossos valores:</h2>
    <h1 class="one">A SER DESENVOLVIDO</h1>
    <p class="fw-light"> Aguardando o Material da FEA </p>
  </div>
<hr>



<div class="container">
    <h2 class="two" id="parcerias">Parcerias 2022</h2>
    <div class="row row-cols-1 row-cols-md row-cols-sm-3 g-4">
        <div class="col-1" id="parcerias">
            <img src="../static/img/itau.png" alt="">
        </div>
        <div class="col-1" id="parcerias">
            <img src="../static/img/b3.png" alt="">
        </div>
    </div>





    <style>
        div#parcerias .col-1 {
            display: grid;
            grid-gap: 20px;
            justify-content: center;
            align-items: center;
        }

        #parcerias img {
            width: 60%;
            object-fit: scale-down;
            padding: 1rem;
        }

        #parcerias {
            text-align: center;
            padding: 1rem;
        }
    </style>
</div>
<hr>



<div class="container">
    <div class="row">
        <h2 class="two" id="estrutura"></h2>
        <div class="col-md-6">
            <h2 class="one">Gestão</h2>
            <div>
                <p class="fw-light">
                    Acreditamos que a pluralidade de ideiais e pessoas é essencial para a construção de uma entidade
                    inovadora e distuptiva, assim, trocamos de gestão semestralmente.
                </p>
            </div>
        </div>


        <div class="row row-cols-1 row-cols-md row-cols-sm-3 g-4">

            <div class="col">
                <div class="bg-dark text-white">
                    <img src="../static/img/avatar1.png" alt="">
                    <div class="card-body fw-light">
                        <h6>Natália Artilha</h6>
                        <p class="fw-light"></p>Presidente</p>
                        <div class="social-links">
                            <a target="_blank" href="https://www.linkedin.com/" style="color:#f7e307;">
                                <i class="bi bi-linkedin"></i>
                            </a>
                            <a target="_blank" href="https://github.com/" style="color:#f7e307;">
                                <i class="bi bi-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="bg-dark text-white">
                    <img src="../static/img/avatar1.png" alt="">
                    <div class="card-body fw-light">
                        <h6>Ana Cristina</h6>
                        <p class="fw-light"></p>Vice Presidente</p>
                        <div class="social-links">
                            <a target="_blank" href="https://www.linkedin.com/" style="color:#f7e307;">
                                <i class="bi bi-linkedin"></i>
                            </a>
                            <a target="_blank" href="https://github.com/" style="color:#f7e307;">
                                <i class="bi bi-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="bg-dark text-white">
                    <img src="../static/img/avatar2.png" alt="">
                    <div class="card-body fw-light">
                        <h6>Arthur Lopes</h6>
                        <p class="fw-light"></p>Contgramaçao</p>
                        <div class="social-links">
                            <a target="_blank" href="https://www.linkedin.com/" style="color:#f7e307;">
                                <i class="bi bi-linkedin"></i>
                            </a>
                            <a target="_blank" href="https://github.com/" style="color:#f7e307;">
                                <i class="bi bi-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="bg-dark text-white">
                    <img src="../static/img/avatar2.png" alt="">
                    <div class="card-body fw-light">
                        <h6>Isadora Friedericks</h6>
                        <p class="fw-light"></p> Diretora de Projetos</p>
                        <div class="social-links">
                            <a target="_blank" href="https://www.linkedin.com/" style="color:#f7e307;">
                                <i class="bi bi-linkedin"></i>
                            </a>
                            <a target="_blank" href="https://github.com/" style="color:#f7e307;">
                                <i class="bi bi-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="bg-dark text-white" id="gestao">
                    <img src="../static/img/avatar2.png" alt="">
                    <div class="card-body fw-light">
                        <h6>Carlos Henrique</h6>
                        <p class="fw-light"></p>Diretoria de Marketing</p>
                        <div class="social-links">
                            <a target="_blank" href="https://www.linkedin.com/" style="color:#f7e307;">
                                <i class="bi bi-linkedin"></i>
                            </a>
                            <a target="_blank" href="https://github.com/" style="color:#f7e307;">
                                <i class="bi bi-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="bg-dark text-white">
                    <img src="../static/img/avatar2.png" alt="">
                    <div class="card-body fw-light">
                        <h6>Gustavo Yuji</h6>
                        <p class="fw-light"></p>Inteligência Artificial</p>
                        <div class="social-links">
                            <a target="_blank" href="https://www.linkedin.com/" style="color:#f7e307;">
                                <i class="bi bi-linkedin"></i>
                            </a>
                            <a target="_blank" href="https://github.com/" style="color:#f7e307;">
                                <i class="bi bi-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="bg-dark text-white">
                    <img src="../static/img/avatar2.png" alt="">
                    <div class="card-body fw-light">
                        <h6>Lorenzo Filippin</h6>
                        <p class="fw-light"></p>THE OFFICE</p>
                        <div class="social-links">
                            <a target="_blank" href="https://www.linkedin.com/" style="color:#f7e307;">
                                <i class="bi bi-linkedin"></i>
                            </a>
                            <a target="_blank" href="https://github.com/" style="color:#f7e307;">
                                <i class="bi bi-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="bg-dark text-white">
                    <img src="../static/img/avatar1.png" alt="">
                    <div class="card-body fw-light">
                        <h6>Cinthya Beneducci</h6>
                        <p class="fw-light"></p>Diretora RH</p>
                        <div class="social-links">
                            <a target="_blank" href="https://www.linkedin.com/" style="color:#f7e307;">
                                <i class="bi bi-linkedin"></i>
                            </a>
                            <a target="_blank" href="https://github.com/" style="color:#f7e307;">
                                <i class="bi bi-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>




{% endblock %}