{% extends 'base.html' %}
{% block content %}



<div class="row">
  <div class="col-md-6 ">
    <h2 class="one">Grupos de Estudo</h2>
    <div>
      <p class="fw-light">A FEA.dev é composta por diretorias, cada uma com um objetivo específico. Além
        disso, temos grupos de estudos, que são responsáveis por desenvolver projetos e ministrar cursos.
      </p>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md row-cols-sm-3 g-4 ">
    <div class="col-md-3">
      <div class="card bg-dark text-white"id="estudo">
        <img src="../static/img/inteligencia artificial.JPG" width="150" alt="">
        <div class="card-body fw-light">
          <p class="fw-light">Grupo voltado ao estudo de modelos de Machine Learning e suas aplicações em
          problemas de negócio.</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card bg-dark text-white"id="estudo">
        <img src="../static/img/financas quantitativas.JPG" width="150" alt="">
        <div class="card-body fw-light">
          <p class="fw-light">Utilização de métodos estatísticos e matemáticos para resolver problemas de
          finanças em
          aplicações de investimento.</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card bg-dark text-white"id="estudo">
        <img src="../static/img/The Office.JPG" width="150" alt="">
        <div class="card-body fw-light">
          <p class="fw-light">Estudos do pacote office com enfoque na linguagem de programação VBA (Visual Basic
            for
            Application).</p>
        </div>
      </div>
    </div>    
  </div>



  <hr>


  <div class="container">
    <h2 class="two" id="machine">Página Machine Learning</h2>
    <h1 class="one">A SER DESENVOLVIDO</h1>
    <p class="fw-light"> Aguardando o Material da FEA </p>
  </div>

  <hr>

  <div class="container">
    <h2 class="two" id="f_quanticas">Página Finanças Quânticas</h2>
    <h1 class="one">A SER DESENVOLVIDO</h1>
    <p class="fw-light"> Aguardando o Material da FEA </p>
  </div>

  <hr>

  <div class="container">
    <h2 class="two" id="the_office">Página The Office</h2>
    <h1 class="one">A SER DESENVOLVIDO</h1>
    <p class="fw-light"> Aguardando o Material da FEA </p>
  </div>

  <hr>

  <div class="container">
    <h2 class="two" id="contagramacao">Página Contagramação</h2>
    <h1 class="one">A SER DESENVOLVIDO</h1>
    <p class="fw-light"> Aguardando o Material da FEA </p>
  </div>
  
  <hr>


{% endblock %}