{% extends "feadev/layout.html" %}
{% load static %}

{% block content %}

			<!-- Begin bread crumbs -->
			<nav class="bread-crumbs">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<ul class="bread-crumbs-list">
								<li>
									<a href="{% url 'index' %}">Home</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li>
									<a href="#">Atividades</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li>Eventos</li>
							</ul>
						</div>
					</div>
				</div>
			</nav><!-- End bread crumbs -->

			<div class="section">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-heading heading-center">
								<h1>Horizontal Tab</h1>
							</div>
							<div class="tabs">
								<ul class="tabs-nav">
									<li class="active">Tab 1</li>
									<li>Tab 2</li>
									<li>Tab 3</li>
									<li>Tab 4</li>
								</ul>
								<div class="tabs-container">
									<div class="tabs-item content active">
										<p>Learning to program means learning how to solve problems using code. Conceptually it
											is not very difficult to write a program that solves a problem that you can solve
											yourself. The skill you need to acquire is thinking very precisely about how you
											solve the problem and breaking it down into steps that are so simple that a computer
											can execute them. I encourage you to first solve a few instances of a problem by
											hand and think about what you did to find the solution. For example if the task is
											sorting lists, sort some short lists yourself.</p>
									</div>
									<div class="tabs-item content">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptates
											reiciendis quaerat ut natus dignissimos distinctio perferendis commodi odit impedit
											rerum totam, saepe corporis perspiciatis non, nam amet maxime sunt.</p>
									</div>
									<div class="tabs-item content">
										<p>A reasonable method would be to find the smallest element, write it down and cross it
											out of the original list and repeat this process until you have sorted the whole
											list. Then you have to teach the computer 1) how to find the smallest element, 2)
											how to write it down, 3) how to cross it out, and wrap this in a loop. Then continue
											this task breakdown process until you’re confident you know how to write the
											necessary program.</p>
									</div>
									<div class="tabs-item content">
										<p>Learning to program means learning how to solve problems using code. Conceptually it
											is not very difficult to write a program that solves a problem that you can solve
											yourself. The skill you need to acquire is thinking very precisely about how you
											solve the problem and breaking it down into steps that are so simple that a computer
											can execute them. I encourage you to first solve a few instances of a problem by
											hand and think about what you did to find the solution. For example if the task is
											sorting lists, sort some short lists yourself.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<section class="section">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-heading heading-center">
								<h2>Vertical Tab</h2>
							</div>
							<div class="tabs tabs-vertical">
								<ul class="tabs-nav section-bgc">
									<li class="active">Tab 1</li>
									<li>Tab 2</li>
									<li>Tab 3</li>
									<li>Tab 4</li>
								</ul>
								<div class="tabs-container">
									<div class="tabs-item content active">
										<p>Learning to program means learning how to solve problems using code. Conceptually it
											is not very difficult to write a program that solves a problem that you can solve
											yourself. The skill you need to acquire is thinking very precisely about how you
											solve the problem and breaking it down into steps that are so simple that a computer
											can execute them. I encourage you to first solve a few instances of a problem by
											hand and think about what you did to find the solution. For example if the task is
											sorting lists, sort some short lists yourself.</p>
									</div>
									<div class="tabs-item content">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptates
											reiciendis quaerat ut natus dignissimos distinctio perferendis commodi odit impedit
											rerum totam, saepe corporis perspiciatis non, nam amet maxime sunt.</p>
									</div>
									<div class="tabs-item content">
										<p>A reasonable method would be to find the smallest element, write it down and cross it
											out of the original list and repeat this process until you have sorted the whole
											list. Then you have to teach the computer 1) how to find the smallest element, 2)
											how to write it down, 3) how to cross it out, and wrap this in a loop. Then continue
											this task breakdown process until you’re confident you know how to write the
											necessary program.</p>
									</div>
									<div class="tabs-item content">
										<p>Learning to program means learning how to solve problems using code. Conceptually it
											is not very difficult to write a program that solves a problem that you can solve
											yourself. The skill you need to acquire is thinking very precisely about how you
											solve the problem and breaking it down into steps that are so simple that a computer
											can execute them. I encourage you to first solve a few instances of a problem by
											hand and think about what you did to find the solution. For example if the task is
											sorting lists, sort some short lists yourself.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="section">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-heading heading-center">
								<h2>Accordion</h2>
							</div>
							<div class="accordion">
								<div class="row gutters-default">
									<div class="col-lg-6 col-12">
										<ul class="accordion-list">
											<li class="accordion-item section-bgc">
												<div class="accordion-trigger">Can I track my order?</div>
												<div class="accordion-content content">
													<p>Yes, you can! After placing your order you will receive an order
														confirmation via email. Each order starts production 15 minutes after
														your order is placed. Within a few hours of you placing your order, you
														will receive an expected delivery time. When the order will be ready for
														delivery, you will receive another email with the tracking number and a
														link to trace the order online with the courier.</p>
												</div>
											</li>
											<li class="accordion-item section-bgc">
												<div class="accordion-trigger">How can I change something in my order?</div>
												<div class="accordion-content content">
													<p>If you need to change something in your order, please contact us
														immediately. We usually process orders within 30 minutes, and once we
														have processed your order, we will be unable to make any changes.</p>
												</div>
											</li>
											<li class="accordion-item section-bgc">
												<div class="accordion-trigger">How can I pay for my order?</div>
												<div class="accordion-content content">
													<p>We accept Visa, MasterCard, and American Express credit and debit cards
														for your convenience.</p>
												</div>
											</li>
										</ul>
									</div>
									<div class="col-lg-6 col-12">
										<ul class="accordion-list">
											<li class="accordion-item section-bgc">
												<div class="accordion-trigger">When will my order be delivered?</div>
												<div class="accordion-content content">
													<p>Delivery times will depend on your location. Once payment is confirmed
														your order will be packaged. Delivery can be expected within 10 business
														days.</p>
												</div>
											</li>
											<li class="accordion-item section-bgc">
												<div class="accordion-trigger">Can I return an item?</div>
												<div class="accordion-content content">
													<p>Please contact our administrators for more information on returning
														products purchased on our website.</p>
												</div>
											</li>
											<li class="accordion-item section-bgc">
												<div class="accordion-trigger">Do you provide any scripts?</div>
												<div class="accordion-content content">
													<p>Our templates do not include any additional scripts. Newsletter
														subscriptions, search fields, forums, image galleries (in HTML versions
														of Flash products) are inactive. Basic scripts can be easily added at
														www.TemplateTuning.com If you are not sure that the element you’re
														interested in is active please contact our Support Chat for
														clarification.</p>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		</div>

{% endblock content %}