<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FEA.Dev</title>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg custom-navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html">Dev</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav nav-underline">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="sobre.html">Sobre nós</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="atividades.html">Atividades</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="PS.html">Processo Seletivo</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://images2.minutemediacdn.com/image/upload/c_crop,w_2048,h_1152,x_0,y_213/c_fill,w_1440,ar_16:9,f_auto,q_auto,g_auto/images/voltaxMediaLibrary/mmsport/90min_pt-BR_international_web/01hrdagactjvdhj7g58d.jpg"
            class="d-block w-100"
            alt="A equipe"
          />
        </div>
      </div>
    </div>

    <div>
      <h1 class="apresentacao">
        Conheça a FEA.Dev, a primeira e maior entidade de programação da FEA-USP
      </h1>
    </div>
    
    <div class="infos">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Quem somos</h5>
              <p class="card-text">
                A FEA.Dev é a primeira e maior entidade de programação da
                FEA-USP. Somos um grupo de estudos de programação, onde nosso
                objetivo é o de integrar a programação com o mundo dos negócios.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <img
              src="https://i.pinimg.com/originals/3b/6b/4e/3b6b4e6d8105d5283cb143311df3f999.jpg"
              class="img-fluid rounded-end"
              alt="Família FEA.Dev"
            />
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
              class="img-fluid rounded-start"
              alt="Código"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Atividades</h5>
              <p class="card-text">
                Ao longo do ano realizamos uma série de atividades e projetos,
                sendo nosso carro chefe o Curso de Python que acontece uma vez
                por ano. Além disso, desenvolvemos artigos, participamos de
                challenges e realizamos até mesmo hackathons internos para
                colocar nossos aprendizados em prática.
              </p>
              <div class="container">
                <button class="inscrever" href="#">
                  Inscreva-se no nosso curso de Python
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="familia">
      <figure class="snip1192">
        <blockquote>Calvin: Sometimes when I'm talking with others, my words can't keep up with my thoughts. I wonder why we think faster than we speak. Hobbes: Probably so we can think twice. </blockquote>
        <div class="author">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample1.jpg" alt="sq-sample1"/>
          <h5>Tia Romba <span> CEO da Internet</span></h5>
        </div>
      </figure>
      <figure class="snip1193">
        <blockquote>Thank you. before I begin, I'd like everyone to notice that my report is in a professional, clear plastic binder...When a report looks this good, you know it'll get an A. That's a tip kids. Write it down.</blockquote>
        <div class="author">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample24.jpg" alt="sq-sample24"/>
          <h5>Jalin Rabei<span> Dona da Microsoft</span></h5>
        </div>
      </figure>
      <figure class="snip1194">
        <blockquote>My behaviour is addictive functioning in a disease process of toxic co-dependency. I need holistic healing and wellness before I'll accept any responsibility for my actions.</blockquote>
        <div class="author">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample29.jpg" alt="sq-sample29"/>
          <h5>Deide Costa<span> Diretora da Petrobrás</span></h5>
        </div>
      </figure>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="social-icons">
              <a href="https://facebook.com" target="_blank"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a href="https://twitter.com" target="_blank"
                ><i class="fab fa-twitter"></i
              ></a>
              <a href="https://instagram.com" target="_blank"
                ><i class="fab fa-instagram"></i
              ></a>
              <a href="https://linkedin.com" target="_blank"
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div>
            <div class="footer-contact footer-info">
              <p>Email: contatofeadev@gmail.com</p>
            </div>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4 footer-address footer-info">
            <p>Av. Prof. Luciano Gualberto, 908 - 05508-010</p>
            <p>Butantã, São Paulo - SP</p>
          </div>
        </div>
        <div class="footer-bottom">
          <p>&copy; 2024 Todos os direitos reservados.</p>
        </div>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>
