{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <!-- <link rel="icon" href="{% static 'system/images/' %}"> -->
    <script src="{% static 'feadev/script.js' %}"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>FEA.dev</title>
    {% block script %}{% endblock script %}
    {% block style %}
    {% endblock style %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg custom-navbar">
          <div class="container-fluid">
            <a class="navbar-brand" href="index.html">Dev</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav nav-underline">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="index.html"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="sobre.html">Sobre nós</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="atividades.html">Atividades</a>
                </li>
  
                <li class="nav-item">
                  <a class="nav-link" href="PS.html">Processo Seletivo</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    <div class="container">

        <div class="main">
            {% block body %}
            {% endblock body %}
        </div>
    </div>

    <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="social-icons">
                <a href="https://facebook.com" target="_blank"
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a href="https://twitter.com" target="_blank"
                  ><i class="fab fa-twitter"></i
                ></a>
                <a href="https://instagram.com" target="_blank"
                  ><i class="fab fa-instagram"></i
                ></a>
                <a href="https://linkedin.com" target="_blank"
                  ><i class="fab fa-linkedin-in"></i
                ></a>
              </div>
              <div class="footer-contact footer-info">
                <p>Email: contatofeadev@gmail.com</p>
              </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4 footer-address footer-info">
              <p>Av. Prof. Luciano Gualberto, 908 - 05508-010</p>
              <p>Butantã, São Paulo - SP</p>
            </div>
          </div>
          <div class="footer-bottom">
            <p>&copy; 2024 Todos os direitos reservados.</p>
          </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>