{% extends "feadev/layout.html" %}
{% load static %}

{% block content %}

			<!-- Begin bread crumbs -->
			<nav class="bread-crumbs">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<ul class="bread-crumbs-list">
								<li>
									<a href="{% url 'index' %}">Home</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li>
									<a href="#">Atividades</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li>Projetos</li>
							</ul>
						</div>
					</div>
				</div>
			</nav><!-- End bread crumbs -->

			<div class="section">
				<div class="container">
					<div class="row items">
						<header class="col-12">
							<div class="section-heading heading-center">
								<div class="section-subheading">Clique para mais detalhes</div>
								<h1>Projetos</h1>
							</div>
						</header>
						<div class="col-12 item">
							<div class="row justify-content-center items"> <!-- Classe de centralização -->
								{% for projeto in projetos %}
									<div class="col-md-12 col-xl-4 col-12 item">
										<a href="{{ projeto.repositorio }}" target="_blank" class="iitem item-style iitem-hover">
											<div class="iitem-icon">
												<i class="material-icons material-icons-outlined md-48">analytics</i>
											</div>
											<div class="iitem-icon-bg">
												<i class="material-icons material-icons-outlined">analytics</i>
											</div>
											<h2 class="iitem-heading item-heading-large">{{ projeto.titulo }}</h2>
											<div class="iitem-desc">{{ projeto.descricao }}</div>
										</a>
									</div>
								{% endfor %}
							</div>
						</div>						
						<div class="pagination">
							<span class="step-links">
								{% if projetos.has_previous %}
									<a href="?page=1" class="btn btn-border ripple"><span>&laquo; Primeira</span></a>
									<a href="?page={{ projetos.previous_page_number }}" class="btn btn-border ripple"><span>Anterior</span></a>
								{% endif %}
						
								<span class="current">
									Página {{ projetos.number }} de {{ projetos.paginator.num_pages }}.
								</span>
						
								{% if projetos.has_next %}
									<a href="?page={{ projetos.next_page_number }}" class="btn btn-border ripple"><span>Próxima</span></a>
									<a href="?page={{ projetos.paginator.num_pages }}" class="btn btn-border ripple"><span>Última &raquo;</span></a>
								{% endif %}
							</span>
						</div>
					</div>
				</div>
			</div>

		</div>

{% endblock content %}