{% extends "feadev/layout.html" %}
{% load static %}

{% block content %}

			<!-- Begin bread crumbs -->
			<nav class="bread-crumbs">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<ul class="bread-crumbs-list">
								<li>
									<a href="{% url 'index' %}">Home</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li>
									<a href="#">Atividades</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li>Projetos</li>
							</ul>
						</div>
					</div>
				</div>
			</nav><!-- End bread crumbs -->

			<div class="section">
				<div class="container">
					<div class="row items">
						<header class="col-12">
							<div class="section-heading heading-center">
								<div class="section-subheading">Areas what we serv</div>
								<h1>Our Services</h1>
							</div>
						</header>
						<div class="col-12 item">
							<div class="row items">
								<div class="col-md-6 col-xl-4 col-12 item">
									<a href="single-service.html" class="iitem item-style iitem-hover">
										<div class="iitem-icon">
											<i class="material-icons material-icons-outlined md-48">corporate_fare</i>
										</div>
										<div class="iitem-icon-bg">
											<i class="material-icons material-icons-outlined">corporate_fare</i>
										</div>
										<h2 class="iitem-heading item-heading-large">Corporate Solution</h2>
										<div class="iitem-desc">We embrace holistic development and support for employees with the aim.</div>
									</a>
								</div>
								<div class="col-md-6 col-xl-4 col-12 item">
									<a href="single-service.html" class="iitem item-style iitem-hover">
										<div class="iitem-icon">
											<i class="material-icons material-icons-outlined md-48">support_agent</i>
										</div>
										<div class="iitem-icon-bg">
											<i class="material-icons material-icons-outlined">support_agent</i>
										</div>
										<h2 class="iitem-heading item-heading-large">Call Center Solutions</h2>
										<div class="iitem-desc">Take advantage of the experiential-learning  built into many programs.</div>
									</a>
								</div>
								<div class="col-md-6 col-xl-4 col-12 item">
									<a href="single-service.html" class="iitem item-style iitem-hover">
										<div class="iitem-icon">
											<i class="material-icons material-icons-outlined md-48">cloud_done</i>
										</div>
										<div class="iitem-icon-bg">
											<i class="material-icons material-icons-outlined">cloud_done</i>
										</div>
										<h2 class="iitem-heading item-heading-large">Cloud Development</h2>
										<div class="iitem-desc">Through a unique combination of engineering, construction and design.</div>
									</a>
								</div>
								<div class="col-md-6 col-xl-4 col-12 item">
									<a href="single-service.html" class="iitem item-style iitem-hover">
										<div class="iitem-icon">
											<i class="material-icons material-icons-outlined md-48">laptop_mac</i>
										</div>
										<div class="iitem-icon-bg">
											<i class="material-icons material-icons-outlined">laptop_mac</i>
										</div>
										<h2 class="iitem-heading item-heading-large">IOS/MacOS Apps</h2>
										<div class="iitem-desc">You can work in labs on and off campus or even spend semesters overseas.</div>
									</a>
								</div>
								<div class="col-md-6 col-xl-4 col-12 item">
									<a href="single-service.html" class="iitem item-style iitem-hover">
										<div class="iitem-icon">
											<i class="material-icons material-icons-outlined md-48">phone_android</i>
										</div>
										<div class="iitem-icon-bg">
											<i class="material-icons material-icons-outlined">phone_android</i>
										</div>
										<h2 class="iitem-heading item-heading-large">Android Applications</h2>
										<div class="iitem-desc">We embrace holistic development and support for employees with the aim.</div>
									</a>
								</div>
								<div class="col-md-6 col-xl-4 col-12 item">
									<a href="single-service.html" class="iitem item-style iitem-hover">
										<div class="iitem-icon">
											<i class="material-icons material-icons-outlined md-48">tv</i>
										</div>
										<div class="iitem-icon-bg">
											<i class="material-icons material-icons-outlined">tv</i>
										</div>
										<h2 class="iitem-heading item-heading-large">UI/UX Design</h2>
										<div class="iitem-desc">Take advantage of the experiential-learning  built into many programs.</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

{% endblock content %}